body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body {
  height: 100%;
  color: #777;
  line-height: 1.8;
  background-color:rgba(122, 116, 116, 0.973);
}


/* First image (Logo. Full height) */
#topbtm {
  background-color: rgb(248, 172, 9);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 75px;
}
#mid {
  background-color: rgb(0, 163, 215);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50px;
}
#center{
  background-color: rgb(146, 210, 99);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 25px;
}

#logo{
  background-color: white;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 130px;
  text-align: center;
}
#E{
  font-size: 125px;
}
#logo h1{
  color: black;
  -webkit-text-fill-color: red; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
  font-size: 100px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 10px;
}
#shop{
  background-color: rgb(160, 35, 248);
}


.label{
    padding: 25px;
}
#about{
    background-color: white;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;
}
.carousel-inner img {
    width: 100%;
    height: 100%;
  }
#assignbtn{
  margin: 10px;
  background: rgb(160, 35, 248);
  transition: width 2s;
  transition-timing-function: ease;
}
#assignbtn:hover {
  width: 300px;
}
#skills{
    padding-bottom: 50px;
    padding-top: 50px;
}
#pg1{
  width:80%
}

#pg2{
  width:65%
}
#pg3{
  width:70%
}
#pg4{
  width:75%
}
#pg5{
  width:70%
}
#pg6{
  width:60%
}
#pg7{
  width:20%
}



